<h1>My Todos</h1>

<% @todos.each do |todo| %>
  <div>
    <%= check_box_tag('completed', value='1', checked = todo.completed, options = {id: todo.id}) %>
    <%= link_to todo.title, "todos/#{todo.id}" %>
  </div>
<% end %>

<%= link_to 'Add a new todo', todos_new_path %>
