// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  max-width: 50%;
}

h1 {
  margin-bottom: 1.5rem;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #0068D9;
}

.todo-details {
  background-color: #EBEBEB;
  padding: 2rem;
  border-radius: 10px;
}
